#stats{
	margin-top:25px;
}

#banner{
	color:white;
	background:#7289da;
	padding:25px;
	display:flex;
}
#banner h1{
	line-height: 70px
}
#status{
	padding:10px;
}
#profile{
	display:flex;
	padding-top:10px;
	padding-left:5px;
	border-style:solid;
	border-radius:15px;
	border-width:1px;
	border-color:#333;
	float:right;
	width:300px;
	background:#26262b;
	color:white;
}
#profile-image{
	border-radius:50px;
	width:50px;
	vertical-align: center
}